<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>frameID mapping management interface</title>
    <link rel="shortcut icon" href="/en-US/static/@9DEE210D3C0EC367AC37995A355F1389DE0F4C59CE83FF3C7722ABCD83B3FFE0/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/ui_simple.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/panel_decoration.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/hover.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/hide_footer.css" />
</head>
<body class="simplexml preload locale-en" data-splunk-version="7.0.1" data-splunk-product="enterprise">
<!--
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system.
-->
<header>
    <a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
    <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
                <div id="placeholder-app-bar"></div>
    </div>
    <a id="navSkip"></a>
</header>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Management of the Nmon frameID mapping</h2>
        <p>Use this interface to associate a server with a frame identifier (frameID) at search time</p>
    </div>

    <div id="row_single_info" class="dashboard-row dashboard-row1">
        <div id="panel_single_info">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"></h2>

                <div class="panel-element-row">
                    <div id="element_unset_frameID" class="dashboard-element single" style="width: 33.33%">
                        <div class="panel-body"></div>
                    </div>
                    <div id="element_delta_frameID" class="dashboard-element single" style="width: 33.33%">
                        <div class="panel-body"></div>
                    </div>
                    <div id="element_duplicated_hosts" class="dashboard-element single" style="width: 33.33%">
                        <div class="panel-body"></div>
                    </div>
                </div>

                <div class="panel-element-row">

                    <div id="element2" class="dashboard-element html" style="width: 100%">
                        <div class="panel-body html">
                            <div class="customlink">
                                <br /><br />
                                <img src="../../static/app/metricator-for-nmon/icons/grey_theme/link.png" alt="link">
                                <h3>
                                    <a data-toggle="modal" data-target="#Help_modal">Help and information</a>
                                </h3>
                                <br /><br />
                            </div>

                            <!-- Modal -->
                            <div class="modal custom-modal-60 fade" id="Help_modal" tabindex="-1" role="dialog" aria-labelledby="Help_modal_Label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>

                                            <div style="text-align: left;">
                                                <h4 class="modal-title" id="Help_modal_Label">Integrated Navigation:</h4>
                                            </div>
                                        </div>

                                        <div class="modal-body">

                                            <div style="text-align: center;">
                                                <h1>FRAMEID MAPPING MANAGEMENT</h1>
                                            </div>

                                            <div>

                                                <h3>The frameID mapping management interface allows to configure frameID mapping on a per server basis:</h3>
                                                <lu>
                                                    <li>logically link a server with a frame identifier</li>
                                                    <li>to be used as a search filters to filter out groups of server depending in your needs</li>
                                                    <li>to be used for analytic purposes to perform advanced calculations and aggregations</li>
                                                </lu>
                                                <br />

                                                <br />
                                                <div style="text-align: center;">
                                                    <img src="../../static/app/metricator-for-nmon/diagrams/frameID_mapping.png" alt="frameID_mapping.png">
                                                </div>
                                                <br />

                                            </div>

                                            <div style="text-align:left;">
                                                <h1>Related links:</h1>
                                            </div>

                                            <div style="text-align: center;" class="cat_title">
                                                <a target="_blank" href="search?q=%7C%20inputlookup%20nmon_frameID_mapping%0A%7C%20fields%20frameID%2Cserialnum%2Chost%2C*" class="tryitbtnxl">nmon_frameID_mapping collection »
                                                </a>
                                                <a target="_blank" href="Manage_alerting_threshold" class="tryitbtnxl">per server alerting threshold »
                                                </a>
                                                <a target="_blank" href="Manage_alerting_threshold_filesystem" class="tryitbtnxl">per server file-systems alerting threshold »
                                                </a>
                                                <a target="_blank" href="Manage_file_systems_global_exclusion" class="tryitbtnxl">global file-system alerting exclusion »
                                                </a>
                                                <a target="_blank" href="Manage_file_systems_exclusion" class="tryitbtnxl">per server file-system alerting exclusion »
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="row_show_lookup_content" class="dashboard-row dashboard-row_show_lookup_content">
        <div id="panel_togglepanel_show_lookup_content" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">NMON frameID mapping collection content</h2>

                <div class="panel-element-row">
                    <div id="element_table_show_lookup_content" class="dashboard-element table" style="width: 100%">

                        <div class="fieldset">

                            <h3 style="color: indianred;">The table shows frameID mapping entries currently configured. To search for an entry, fill the filters and press enter. To pre-fill for addition, modification and deletion, click on any row of the table</h3>
                            <br /><br />

                            <div>
                                <hr>
                                <p style="color: gray;"><i>Search for servers in collection:</i></p>
                            </div>

                            <div class="input input-text" id="input_search_keyid">
                                <label>Search keyID:</label>
                            </div>
                            <div class="input input-text" id="input_search_frameid">
                                <label>Search frameID:</label>
                            </div>
                            <div class="input input-text" id="input_search_serialnum">
                                <label>Search serialnum:</label>
                            </div>
                            <div class="input input-text" id="input_search_host">
                                <label>Search host:</label>
                            </div>
                            <div class="input input-text" id="input_search_host_description">
                                <label>Search host_description:</label>
                            </div>
                            <div>
                                <hr>
                                <p style="color: gray;"><i>Remove or modify existing mapping definitions:</i></p>
                            </div>
                            <div style="text-align: right;">
                                <div class="input input-text" id="input_selected_key">
                                    <label>Click on any row to fill the Key ID:</label>
                                </div>
                                <div class="form-submit" id="btn_remove_content">
                                    <button class="btn btn-primary submit">Delete this entry</button>
                                </div>
                            </div>
                            <div style="text-align: right;">
                                <div class="input input-text" id="input_modify_frameid">
                                    <label>Enter the frameID:</label>
                                </div>
                                <div class="input input-text" id="input_modify_serialnum">
                                    <label>Enter the serialnum:</label>
                                </div>
                                <div class="input input-text" id="input_modify_host">
                                    <label>Enter the host:</label>
                                </div>
                                <div class="input input-text" id="input_modify_host_description">
                                    <label>Enter the host_description:</label>
                                </div>
                                <div class="form-submit" id="btn_modify_content">
                                    <button class="btn btn-primary submit">Modify this entry</button>
                                </div>
                            </div>
                            <div>
                                <hr>
                                <p style="color: gray;"><i>Add a new mapping definition:</i></p>
                            </div>
                            <div style="text-align: right;">
                                <div class="input input-text" id="input_add_frameid">
                                    <label>Enter the frameID:</label>
                                </div>
                                <div class="input input-text" id="input_add_serialnum">
                                    <label>Enter the serialnum:</label>
                                </div>
                                <div class="input input-text" id="input_add_host">
                                    <label>Enter the host:</label>
                                </div>
                                <div class="input input-text" id="input_add_host_description">
                                    <label>Enter the host_description:</label>
                                </div>
                                <div class="form-submit" id="btn_add_content">
                                    <button class="btn btn-primary submit">Add this entry</button>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="row_missing_content_table" class="dashboard-row dashboard-row_missing_content_table" data-depends="$show_null_missing_frameID$">
        <div id="panel_togglepanel_true_missing_content_table" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"># Missing # entries</h2>
                <div class="fieldset">
                    <h3 style="color: indianred;">Missing frameIDs - The following host(s) have missing entries in the collection, please run the report "Generate NMON frameID mapping lookup table" or manually add the relevant entry (click on the row to pre-fill fields for addition)</h3>
                    <br /><br />
                    <div class="panel-element-row">
                        <div id="element_table_missing_content" class="dashboard-element table" style="width: 100%">
                            <div class="panel-body"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/togglepanel.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/bootbox.min.js" type="text/javascript"></script>
<script type="text/javascript">
// <![CDATA[
// <![CDATA[
//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
//
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/layoutview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        LayoutView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example:
        // ...UrlTokenModel,
        // TokenForwarder
        ) {

        var pageLoading = true;


        //
        // TOKENS
        //

        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }



        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "earliest_time": "0",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| inputlookup nmon_frameID_mapping | $user_selection$ | search frameID=* serialnum=* host=* host_description=* | eval  KeyID = _key | table KeyID,frameID,serialnum,host,host_description,*",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        new SearchEventHandler({
            managerid: "search1",
            event: "progress",
            conditions: [
                {
                    attr: "match",
                    value: "'job.resultCount' == 0",
                    actions: [
                        {"type": "set", "token": "show_null_unset_frameID", "value": "True"}
                    ]
                },
                {
                    attr: "any",
                    value: "*",
                    actions: [
                        {"type": "unset", "token": "show_null_unset_frameID"}
                    ]
                }
            ]
        });

        var search2 = new SearchManager({
            "id": "search2",
            "earliest_time": "-24h",
            "sample_ratio": 1,
            "status_buckets": 0,
            "cancelOnUnload": true,
            "latest_time": "now",
            "search": "| inputlookup nmon_frameID_mapping | where frameID=host | stats dc(host) as count",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "earliest_time": "0",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| inputlookup nmon_frameID_mapping | search _key=$search_keyID$ frameID=$search_frameID$ serialnum=$search_serialnum$ host=$search_host$ host_description=$search_host_description$ | eval  KeyID = _key | table KeyID,frameID,serialnum,host,host_description,*",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search4 = new SearchManager({
            "id": "search4",
            "earliest_time": "-7d",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| inputlookup nmon_frameID_mapping | stats dc(host) as host_in_lookup | appendcols [ | tstats dc(host) as host_in_data WHERE `nmon_index` sourcetype=nmon_data ] | eval delta=if(host_in_lookup>host_in_data, host_in_lookup-host_in_data, host_in_data-host_in_lookup) | fields delta",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search5 = new SearchManager({
            "id": "search5",
            "earliest_time": "-7d",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| inputlookup nmon_frameID_mapping | stats count by host | where count>1 | stats dc(host) as count",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search6 = new SearchManager({
            "id": "search6",
            "earliest_time": "-7d",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| mcatalog values(serialnum) as serialnum where `nmon_metrics_index` metric_name=os.unix.nmon.* by host | lookup nmon_frameID_mapping host as host OUTPUT frameID | where isnull(frameID)",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        new SearchEventHandler({
            managerid: "search6",
            event: "progress",
            conditions: [
                {
                    attr: "match",
                    value: "'job.resultCount' == 0",
                    actions: [
                        {"type": "unset", "token": "show_null_missing_frameID"}
                    ]
                },
                {
                    attr: "any",
                    value: "*",
                    actions: [
                        {"type": "set", "token": "show_null_missing_frameID", "value": "True"}
                    ]
                }
            ]
        });

        //
        // SPLUNK LAYOUT
        //

        $('header').remove();
        new LayoutView({"hideChrome": false, "hideAppBar": false, "hideSplunkBar": false, "hideFooter": false})
            .render()
            .getContainerElement()
            .appendChild($('.dashboard-body')[0]);

        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element_table_modify_content = new TableElement({
            "id": "element_table_modify_content",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "row",
            "percentagesRow": "false",
            "rowNumbers": "false",
            "totalsRow": "false",
            "wrap": "true",
            "managerid": "search1",
            "el": $('#element_table_modify_content')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_table_modify_content.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                setToken("modify_key", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_host_description", TokenUtils.replaceTokenNames("$row.host_description$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_key", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_host_description", TokenUtils.replaceTokenNames("$row.host_description$", _.extend(submittedTokenModel.toJSON(), e.data)));
            }
        });

        var element_unset_frameID = new SingleElement({
            "id": "element_unset_frameID",
            "unitPosition": "after",
            "numberPrecision": "0",
            "drilldown": "all",
            "useColors": "1",
            "trendDisplayMode": "absolute",
            "rangeValues": "[0]",
            "colorBy": "value",
            "showTrendIndicator": "1",
            "showSparkline": "1",
            "colorMode": "none",
            "trendColorInterpretation": "standard",
            "underLabel": "Number of frameID undefined (frameID=hostname)",
            "useThousandSeparators": "1",
            "rangeColors": "[\"0x3F6FDE\",\"0x3F6FDE\"]",
            "managerid": "search2",
            "el": $('#element_unset_frameID')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_unset_frameID.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                var url = TokenUtils.replaceTokenNames("{{SPLUNKWEB_URL_PREFIX}}/app/metricator-for-nmon/search?q=| inputlookup nmon_frameID_mapping | where frameID=host", _.extend(submittedTokenModel.toJSON(), e.data), TokenUtils.getEscaper('url'), TokenUtils.getFilters(mvc.Components));
                utils.redirect(url);
            }
        });

        var element_table_show_lookup_content = new TableElement({
            "id": "element_table_show_lookup_content",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "row",
            "percentagesRow": "false",
            "rowNumbers": "false",
            "totalsRow": "false",
            "wrap": "true",
            "managerid": "search3",
            "el": $('#element_table_show_lookup_content')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_table_show_lookup_content.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                // Populate input form for deletion and addition
                setToken("KeyID", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.KeyID", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                // Populate inputs form for modification
                setToken("modify_key", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_host_description", TokenUtils.replaceTokenNames("$row.host_description$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_key", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.modify_host_description", TokenUtils.replaceTokenNames("$row.host_description$", _.extend(submittedTokenModel.toJSON(), e.data)));
            }
        });

        var element_delta_frameID = new SingleElement({
            "id": "element_delta_frameID",
            "unitPosition": "after",
            "numberPrecision": "0",
            "drilldown": "all",
            "useColors": "1",
            "trendDisplayMode": "absolute",
            "rangeValues": "[0]",
            "colorBy": "value",
            "showTrendIndicator": "1",
            "showSparkline": "1",
            "colorMode": "none",
            "trendColorInterpretation": "standard",
            "underLabel": "Number of host(s) in delta (more hosts in data or more hosts in collection)",
            "useThousandSeparators": "1",
            "rangeColors": "[\"0x3F6FDE\",\"0x3F6FDE\"]",
            "managerid": "search4",
            "el": $('#element_delta_frameID')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_delta_frameID.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                var url = TokenUtils.replaceTokenNames("{{SPLUNKWEB_URL_PREFIX}}/app/metricator-for-nmon/search?q=| inputlookup nmon_frameID_mapping | stats dc(host) as host_in_lookup | appendcols [ | tstats dc(host) as host_in_data WHERE `nmon_index` sourcetype=nmon_data ] | eval delta=if(host_in_lookup>host_in_data, host_in_lookup-host_in_data, host_in_data-host_in_lookup)", _.extend(submittedTokenModel.toJSON(), e.data), TokenUtils.getEscaper('url'), TokenUtils.getFilters(mvc.Components));
                utils.redirect(url);
            }
        });

        var element_duplicated_hosts = new SingleElement({
            "id": "element_duplicated_hosts",
            "unitPosition": "after",
            "numberPrecision": "0",
            "drilldown": "all",
            "useColors": "1",
            "trendDisplayMode": "absolute",
            "rangeValues": "[0]",
            "colorBy": "value",
            "showTrendIndicator": "1",
            "showSparkline": "1",
            "colorMode": "none",
            "trendColorInterpretation": "standard",
            "underLabel": "Number of host(s) with duplicated entries in the collection",
            "useThousandSeparators": "1",
            "rangeColors": "[\"0x3F6FDE\",\"0x3F6FDE\"]",
            "managerid": "search5",
            "el": $('#element_duplicated_hosts')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_duplicated_hosts.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                var url = TokenUtils.replaceTokenNames("{{SPLUNKWEB_URL_PREFIX}}/app/metricator-for-nmon/search?q=| inputlookup nmon_frameID_mapping | stats count by host | where count>1", _.extend(submittedTokenModel.toJSON(), e.data), TokenUtils.getEscaper('url'), TokenUtils.getFilters(mvc.Components));
                utils.redirect(url);
            }
        });

        var element_table_missing_content = new TableElement({
            "id": "element_table_missing_content",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "row",
            "percentagesRow": "false",
            "rowNumbers": "false",
            "totalsRow": "false",
            "wrap": "true",
            "managerid": "search6",
            "el": $('#element_table_missing_content')
        }, {tokens: true, tokenNamespace: "submitted"}).render()

        element_table_missing_content.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                setToken("serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.host_description", "none");
            }
        });

        //
        // VIEWS: FORM INPUTS
        //

        var input_add_frameid = new TextInput({
            "id": "input_add_frameid",
            "value": "$form.frameID$",
            "el": $('#input_add_frameid')
        }, {tokens: true}).render();

        input_add_frameid.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_frameid);
        });

        var input_add_serialnum = new TextInput({
            "id": "input_add_serialnum",
            "value": "$form.serialnum$",
            "el": $('#input_add_serialnum')
        }, {tokens: true}).render();

        input_add_serialnum.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_serialnum);
        });

        var input_add_host = new TextInput({
            "id": "input_add_host",
            "value": "$form.host$",
            "el": $('#input_add_host')
        }, {tokens: true}).render();

        input_add_host.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_host);
        });

        var input_add_host_description = new TextInput({
            "id": "input_add_host_description",
            "value": "$form.host_description$",
            "el": $('#input_add_host_description')
        }, {tokens: true}).render();

        input_add_host_description.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_host_description);
        });

        var input_selected_key = new TextInput({
            "id": "input_selected_key",
            "value": "$form.KeyID$",
            "el": $('#input_selected_key')
        }, {tokens: true}).render();

        input_selected_key.on("change", function(newValue) {
            FormUtils.handleValueChange(input_selected_key);
        });

        var input_search_keyid = new TextInput({
            "id": "input_search_keyid",
            "value": "$form.search_keyID$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_keyid')
        }, {tokens: true}).render();

        input_search_keyid.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_keyid);
        });

        var input_search_frameid = new TextInput({
            "id": "input_search_frameid",
            "value": "$form.search_frameID$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_frameid')
        }, {tokens: true}).render();

        input_search_frameid.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_frameid);
        });

        var input_search_serialnum = new TextInput({
            "id": "input_search_serialnum",
            "value": "$form.search_serialnum$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_serialnum')
        }, {tokens: true}).render();

        input_search_serialnum.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_serialnum);
        });

        var input_search_host = new TextInput({
            "id": "input_search_host",
            "value": "$form.search_host$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_host')
        }, {tokens: true}).render();

        input_search_host.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_host);
        });

        var input_search_host_description = new TextInput({
            "id": "input_search_host_description",
            "value": "$form.search_host_description$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_host_description')
        }, {tokens: true}).render();

        input_search_host_description.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_host_description);
        });

        var input_modify_frameid = new TextInput({
            "id": "input_modify_frameid",
            "value": "$form.modify_frameID$",
            "el": $('#input_modify_frameid')
        }, {tokens: true}).render();

        input_modify_frameid.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_frameid);
        });

        var input_modify_serialnum = new TextInput({
            "id": "input_modify_serialnum",
            "value": "$form.modify_serialnum$",
            "el": $('#input_modify_serialnum')
        }, {tokens: true}).render();

        input_modify_serialnum.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_serialnum);
        });

        var input_modify_host = new TextInput({
            "id": "input_modify_host",
            "value": "$form.modify_host$",
            "el": $('#input_modify_host')
        }, {tokens: true}).render();

        input_modify_host.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_host);
        });

        var input_modify_host_description = new TextInput({
            "id": "input_modify_host_description",
            "value": "$form.modify_host_description$",
            "el": $('#input_modify_host_description')
        }, {tokens: true}).render();

        input_modify_host_description.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_host_description);
        });

        var input_add_frameid5 = new RadioGroupInput({
            "id": "input_add_frameid5",
            "choices": [
                {"value": "where (frameID=host)", "label": "Show only undefined frameID"},
                {"value": "search frameID=*", "label": "Show all content"}
            ],
            "selectFirstChoice": false,
            "default": "where (frameID=host)",
            "searchWhenChanged": true,
            "value": "$form.user_selection$",
            "el": $('#input_add_frameid5')
        }, {tokens: true}).render();

        input_add_frameid5.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_frameid5);
        });

        DashboardController.onReady(function() {
            if (!submittedTokenModel.has('earliest') && !submittedTokenModel.has('latest')) {
                submittedTokenModel.set({ earliest: '0', latest: '' });
            }
        });

        //
        // SERVICE OBJECT
        //

        // Create a service object using the Splunk SDK for JavaScript
        // to send REST requests
        var service = mvc.createService({ owner: "nobody" });


        //
        // DELETE BUTTON
        //

        // Call this function when the Delete Record button is clicked
        $("#btn_remove_content").click(function() {
            var tokens = mvc.Components.get("default");
            var form_keyid = tokens.get("KeyID");

            if (!form_keyid || !form_keyid.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the KeyID value is empty ! Please first click on any entry in the table</h3>");
            }
            else
            {

                bootbox.confirm("<h3 style=\"color: indianred;\">Confirm deletion?</h3>", function(result){

                    if (result) {

                        // Get the value of the key ID field

                        // Delete the record that corresponds to the key ID using
                        // the del method to send a DELETE request
                        // to the storage/collections/data/{collection}/ endpoint
                        service.del("storage/collections/data/kv_nmon_frameID_mapping/" + encodeURIComponent(form_keyid))
                            .done(function() {
                                // Run the search again to update the table
                                search1.startSearch();
                                search2.startSearch();
                                search3.startSearch();
                                search4.startSearch();
                                search5.startSearch();
                                search6.startSearch();

                                // clear the form
                                // modification
                                $("#input_selected_key input[type=text]").val("");
                                $("#input_modify_frameid input[type=text]").val("");
                                $("#input_modify_serialnum input[type=text]").val("");
                                $("#input_modify_host input[type=text]").val("");
                                $("#input_modify_host_description input[type=text]").val("");
                                // addtion
                                $("#input_add_frameid input[type=text]").val("");
                                $("#input_add_serialnum input[type=text]").val("");
                                $("#input_add_host input[type=text]").val("");
                                $("#input_add_host_description input[type=text]").val("");

                            });

                    }

                });

            }
        });

        //
        // SUBMIT FORM DATA
        //

        $("#btn_add_content").click(function() {
            submitTokens();

            // When the Submit button is clicked, get all the form fields by accessing token values
            var tokens = mvc.Components.get("default");
            var form_frameID = tokens.get("frameID");
            var form_serialnum = tokens.get("serialnum");
            var form_host = tokens.get("host");
            var form_host_description = tokens.get("host_description");

            // Create a dictionary to store the field names and values
            var record = {
                "frameID": form_frameID,
                "serialnum": form_serialnum,
                "host": form_host,
                "host_description": form_host_description
            };

            if (!form_frameID || !form_frameID.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the frameID value is empty !</h3>");
            }

            else if (!form_serialnum || !form_serialnum.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the serialnum value is empty !</h3>");
            }

            else if (!form_host || !form_host.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the host value is empty !</h3>");
            }

            else if (!form_host_description || !form_host_description.length) {
                // fill with a default value
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the host_description value is empty !</h3>");
            }

            else {

                bootbox.confirm("<h3 style=\"color: indianred;\">Confirm addition?</h3>", function(result){

                    if (result) {

                    // Use the request method to send a REST POST request
                    // to the storage/collections/data/{collection}/entry_key endpoint
                    service.request(
                        "storage/collections/data/kv_nmon_frameID_mapping/",
                        "POST",
                        null,
                        null,
                        JSON.stringify(record),
                        {"Content-Type": "application/json"},
                        null)
                            .done(function() {
                                 // Run the search again to update the table
                                search1.startSearch();
                                search2.startSearch();
                                search3.startSearch();
                                search4.startSearch();
                                search5.startSearch();
                                search6.startSearch();

                                // clear the form
                                // modification
                                $("#input_selected_key input[type=text]").val("");
                                $("#input_modify_frameid input[type=text]").val("");
                                $("#input_modify_serialnum input[type=text]").val("");
                                $("#input_modify_host input[type=text]").val("");
                                $("#input_modify_host_description input[type=text]").val("");
                                // addtion
                                $("#input_add_frameid input[type=text]").val("");
                                $("#input_add_serialnum input[type=text]").val("");
                                $("#input_add_host input[type=text]").val("");
                                $("#input_add_host_description input[type=text]").val("");

                            });

                    }

                });

            }
        });

        //
        // MODIFY BUTTON
        //

        $("#btn_modify_content").click(function() {
            submitTokens();

            // When the Submit button is clicked, get all the form fields by accessing token values
            var tokens = mvc.Components.get("default");
            var form_keyid = tokens.get("KeyID");
            var form_modify_frameID = tokens.get("modify_frameID");
            var form_modify_serialnum = tokens.get("modify_serialnum");
            var form_modify_host = tokens.get("modify_host");
            var form_modify_host_description = tokens.get("modify_host_description");

            // Create the endpoint URL
            var myendpoint_URl = "storage/collections/data/kv_nmon_frameID_mapping/" + form_keyid;

            // Create a dictionary to store the field names and values
            var record = {
                "frameID": form_modify_frameID,
                "serialnum": form_modify_serialnum,
                "host": form_modify_host,
                "host_description": form_modify_host_description
            };

            if (!form_keyid || !form_keyid.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the KeyID value is empty ! Please first click on any entry in the table</h3>");
            }

            else if (!form_modify_frameID || !form_modify_frameID.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the frameID value is empty ! Please first click on any entry in the table</h3>");
            }

            else if (!form_modify_serialnum || !form_modify_serialnum.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the serialnum value is empty ! Please first click on any entry in the table</h3>");
            }

            else if (!form_modify_host || !form_modify_host.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the host value is empty ! Please first click on any entry in the table</h3>");
            }

            else if (!form_modify_host_description || !form_modify_host_description.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the host_description value is empty ! Please first click on any entry in the table</h3>");
            }

            else {

                bootbox.confirm("<h3 style=\"color: indianred;\">Confirm modification?</h3>", function(result){

                    if (result) {

                    // Use the request method to send a REST POST request
                    // to the storage/collections/data/{collection}/entry_key endpoint
                    service.request(
                        myendpoint_URl,
                        "POST",
                        null,
                        null,
                        JSON.stringify(record),
                        {"Content-Type": "application/json"},
                        null)
                            .done(function() {
                                 // Run the search again to update the table
                                search1.startSearch();
                                search2.startSearch();
                                search3.startSearch();
                                search4.startSearch();
                                search5.startSearch();
                                search6.startSearch();

                                // Clear the form fields
                                // modification
                                $("#input_selected_key input[type=text]").val("");
                                $("#input_modify_frameid input[type=text]").val("");
                                $("#input_modify_serialnum input[type=text]").val("");
                                $("#input_modify_host input[type=text]").val("");
                                $("#input_modify_host_description input[type=text]").val("");
                                // addtion
                                $("#input_add_frameid input[type=text]").val("");
                                $("#input_add_serialnum input[type=text]").val("");
                                $("#input_add_host input[type=text]").val("");
                                $("#input_add_host_description input[type=text]").val("");
                            });

                    }

                });

            }

        });

        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
        }


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/dashboard.js" type="text/javascript"></script>
</body>
</html>
