<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Configuration of file-systems alerting threshold per server</title>
    <link rel="shortcut icon" href="/en-US/static/@9DEE210D3C0EC367AC37995A355F1389DE0F4C59CE83FF3C7722ABCD83B3FFE0/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/ui_simple.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/panel_decoration.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/hover.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/hide_footer.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/alerting_filesystem_threshold.css" />
</head>
<body class="simplexml preload locale-en" data-splunk-version="7.0.1" data-splunk-product="enterprise">
<!--
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system.
-->
<header>
    <a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
    <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
                <div id="placeholder-app-bar"></div>
    </div>
    <a id="navSkip"></a>
</header>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Configuration and management of per server file-system alerting threshold</h2>
        <p>Use this interface to configure file-systems usage threshold for alerting</p>
    </div>

    <div id="row_single_info" class="dashboard-row dashboard-row1">
        <div id="panel_single_info">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"></h2>

                <div class="panel-element-row">
                    <div id="element_unset_exclusions" class="dashboard-element single" style="width: 33.33%">
                        <div class="panel-body"></div>
                    </div>
                    <div id="element_nb_hosts" class="dashboard-element single" style="width: 33.33%">
                        <div class="panel-body"></div>
                    </div>
                    <div id="element_nb_mount" class="dashboard-element single" style="width: 33.33%">
                        <div class="panel-body"></div>
                    </div>
                </div>

                <div class="panel-element-row">

                    <div id="element2" class="dashboard-element html" style="width: 100%">
                        <div class="panel-body html">
                            <div class="customlink">
                                <br /><br />
                                <img src="../../static/app/metricator-for-nmon/icons/grey_theme/link.png" alt="link">
                                <h3>
                                    <a data-toggle="modal" data-target="#Help_modal">Help and information</a>
                                </h3>
                                <br /><br />
                            </div>

                            <!-- Modal -->
                            <div class="modal custom-modal-60 fade" id="Help_modal" tabindex="-1" role="dialog" aria-labelledby="Help_modal_Label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>

                                            <div style="text-align: left;">
                                                <h4 class="modal-title" id="Help_modal_Label">Integrated Navigation:</h4>
                                            </div>
                                        </div>

                                        <div class="modal-body">

                                            <div style="text-align: center;">
                                                <h1>ALERTING THRESHOLD MANAGEMENT</h1>
                                            </div>

                                            <div>

                                                <h3>The alerting threshold management interface allows you to configure Nmon alerting features for:</h3>
                                                <lu>
                                                    <li>CPU usage monitoring for continuous configurable peaks in seconds</li>
                                                    <li>Physical memory usage monitoring for continuous configurable peaks in seconds</li>
                                                    <li>Virtual memory usage monitoring for continuous configurable peaks in seconds</li>
                                                </lu>
                                                <br />

                                                <h3>By default, the alerting reports run for all servers with the following parameters:</h3>
                                                <lu>
                                                    <li><span style="color: indianred">90 %</span> of usage for CPU and Physical memory usage</li>
                                                    <li><span style="color: indianred">40 %</span> of usage for Virtual memory usage</li>
                                                    <li><span style="color: indianred">5 minutes (300 seconds)</span> of continuous peak</li>
                                                </lu>

                                                <br />
                                                <h3>Alerting reports use KVstore alerting collections to allow a per server configuration:</h3>

                                                <div class="list">
                                                    <h4>CPU usage:</h4>
                                                    <br />
                                                    <lu>
                                                        <li>alert_cpu_max_percent</li>
                                                        <li>alert_cpu_min_seconds</li>
                                                    </lu>
                                                </div>

                                                <div class="list">
                                                    <h4>Physical memory usage:</h4>
                                                    <br />
                                                    <lu>
                                                        <li>alert_physical_memory_max_percent</li>
                                                        <li>alert_physical_memory_min_time_seconds</li>
                                                    </lu>
                                                </div>

                                                <div class="list">
                                                    <h4>Virtual memory usage:</h4>
                                                    <br />
                                                    <lu>
                                                        <li>alert_virtual_memory_max_percent</li>
                                                        <li>alert_virtual_memory_min_time_seconds</li>
                                                    </lu>
                                                </div>

                                                <br /><br />

                                                <h3>When a server is matched within the <span style="color: indianred">nmon_alerting_threshold</span> KVstore lookup, the server thresholds settings will override default alerting parameters.</h3>

                                                <h3>Per server alerting entries have the <span style="color: indianred">highest</span> priority against any other settings.</h3>

                                                <br>

                                                <h3>Lookup access:</h3>

                                                <pre>| inputlookup nmon_alerting_threshold_filesystem</pre>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="row_show_lookup_inventory" class="dashboard-row dashboard-row_show_lookup_inventory">
        <div id="panel_togglepanel_true_show_lookup_inventory" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Servers inventory</h2>

                <div class="panel-element-row">
                    <div id="element_table_show_lookup_inventory" class="dashboard-element table" style="width: 100%">

                        <div class="fieldset">
                            <h3 style="color: indianred;">You can search any existing server using the optional fields, fill the filters and press enter. To pre-fill fields for an addition, click on any row of the table:</h3>
                            <h3 style="color: indianred;"><b>alert max value is in percentage and min time is in seconds</b>, mount point is <b>case insensitive and accepts wildcards</b> to match multiple mount points at once</h3>
                            <br /><br />
                            <div>
                                <hr>
                                <p style="color: gray;"><i>Search for servers in inventory asset:</i></p>
                            </div>
                            <div class="input input-text" id="input_inventory_search_frameid">
                                <label>Search frameID:</label>
                            </div>
                            <div class="input input-text" id="input_inventory_search_serialnum">
                                <label>Search serialnum:</label>
                            </div>
                            <div class="input input-text" id="input_inventory_search_host">
                                <label>Search host:</label>
                            </div>
                            <div class="input input-text" id="input_inventory_search_mount">
                                <label>Search mount point:</label>
                            </div>
                            <div class="input input-text" id="input_inventory_search_filesystem">
                                <label>Search filesystem:</label>
                            </div>
                            <div>
                                <hr>
                                <p style="color: gray;"><i>Add new threshold definition:</i></p>
                            </div>
                            <div style="text-align: right;">
                                <div class="input input-text" id="input_add_frameid">
                                    <label>Enter the frameID:</label>
                                </div>
                                <div class="input input-text" id="input_add_serialnum">
                                    <label>Enter the serialnum:</label>
                                </div>
                                <div class="input input-text" id="input_add_host">
                                    <label>Enter the host:</label>
                                </div>
                                <div class="input input-text" id="input_add_mount">
                                    <label>Enter the mount point:</label>
                                </div>
                                <div class="input input-text" id="input_add_alert_fs_max_percent">
                                    <label>alert_fs_max_percent:</label>
                                </div>
                                <div class="input input-text" id="input_add_alert_fs_min_time_seconds">
                                    <label>alert_fs_min_time_seconds:</label>
                                </div>
                                <div class="form-submit" id="btn_add_content">
                                    <button class="btn btn-primary submit">Add this entry</button>
                                </div>
                                <div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="row_show_lookup_content" class="dashboard-row dashboard-row_show_lookup_content">
        <div id="panel_togglepanel_show_lookup_content" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Threshold table - currently configured alerting thresholds per server</h2>

                <div class="panel-element-row">
                    <div id="element_table_show_lookup_content" class="dashboard-element table" style="width: 100%">

                        <div class="fieldset">
                            <h3 style="color: indianred;">The threshold table shows per server threshold currently configured. To search for an entry, fill the filters and press enter. To pre-fill for modification and deletion, click on any row of the table</h3>
                            <br /><br />
                            <div>
                                <hr>
                                <p style="color: gray;"><i>Search for existing threshold definitions:</i></p>
                            </div>
                            <div class="input input-text" id="input_search_keyid">
                                <label>Search keyID:</label>
                            </div>
                            <div class="input input-text" id="input_search_frameid">
                                <label>Search frameID:</label>
                            </div>
                            <div class="input input-text" id="input_search_serialnum">
                                <label>Search serialnum:</label>
                            </div>
                            <div class="input input-text" id="input_search_host">
                                <label>Search host:</label>
                            </div>
                            <div class="input input-text" id="input_search_mount">
                                <label>Search mount point:</label>
                            </div>
                            <div>
                                <hr>
                                <p style="color: gray;"><i>Remove or modify existing threshold definitions:</i></p>
                            </div>
                            <div style="text-align: right; margin-bottom: 15px;">
                                <div class="input input-text" id="input_selected_key">
                                    <label>Click on any row to fill the Key ID:</label>
                                </div>
                                <div class="form-submit" id="btn_remove_content">
                                    <button class="btn btn-primary submit">Delete this entry</button>
                                </div>
                            </div>
                            <div style="text-align: right;">
                                <div class="input input-text" id="input_modify_frameID">
                                    <label>Enter the frameID:</label>
                                </div>
                                <div class="input input-text" id="input_modify_serialnum">
                                    <label>Enter the serialnum:</label>
                                </div>
                                <div class="input input-text" id="input_modify_host">
                                    <label>Enter the host:</label>
                                </div>
                                <div class="input input-text" id="input_modify_mount">
                                    <label>modify mount point:</label>
                                </div>
                                <div class="input input-text" id="input_modify_alert_fs_max_percent">
                                    <label>alert_fs_max_percent:</label>
                                </div>
                                <div class="input input-text" id="input_modify_alert_fs_min_time_seconds">
                                    <label>alert_fs_min_time_seconds:</label>
                                </div>
                                <div class="form-submit" id="btn_modify_content">
                                    <button class="btn btn-primary submit">Modify this entry</button>
                                </div>
                            </div>
                        </div>

                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/togglepanel.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/bootbox.min.js" type="text/javascript"></script>
<script type="text/javascript">
// <![CDATA[
// <![CDATA[
//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
//
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/layoutview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        LayoutView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example:
        // ...UrlTokenModel,
        // TokenForwarder
        ) {

        var pageLoading = true;


        //
        // FUNCTIONS
        //

        function isNumeric(n) {
          return !isNaN(parseFloat(n)) && isFinite(n) && n > 0;
        }

        function isPercent(n) {
          return !isNaN(parseFloat(n)) && isFinite(n) && n > 0 && n <= 100 ;
        }

        //
        // TOKENS
        //

        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }

        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "earliest_time": "-24h",
            "sample_ratio": 1,
            "status_buckets": 0,
            "cancelOnUnload": true,
            "latest_time": "now",
            "search": "| inputlookup nmon_alerting_threshold_filesystem | stats count",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search2 = new SearchManager({
            "id": "search2",
            "earliest_time": "0",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| inputlookup nmon_alerting_threshold_filesystem | search _key=$search_keyID$ frameID=$search_frameID$ serialnum=$search_serialnum$ host=$search_host$ mount=$search_mount$ | eval KeyID = _key | table KeyID,frameID,serialnum,host,mount,* | eval max_used_percent_alert=round(alert_fs_max_percent ,0) | fields KeyID,frameID,serialnum,host,mount,alert_fs_max_percent,max_used_percent_alert,alert_fs_min_time_seconds",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "earliest_time": "-7d",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| inputlookup nmon_alerting_threshold_filesystem | stats dc(host) as dcount",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search4 = new SearchManager({
            "id": "search4",
            "earliest_time": "-4h@m",
            "latest_time": "now",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| `def_filesystem_inventory` | search frameID=$form.inventory_search_frameID$ serialnum=$form.inventory_search_serialnum$ host=$form.inventory_search_host$ mount=$form.inventory_search_mount$ filesystem=$form.inventory_search_filesystem$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search5 = new SearchManager({
            "id": "search5",
            "earliest_time": "-7d",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| inputlookup nmon_alerting_threshold_filesystem | stats dc(mount) as dcount",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

            //
        // SPLUNK LAYOUT
        //

        $('header').remove();
        new LayoutView({"hideChrome": false, "hideAppBar": false, "hideSplunkBar": false, "hideFooter": false})
            .render()
            .getContainerElement()
            .appendChild($('.dashboard-body')[0]);

        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element_unset_exclusions = new SingleElement({
            "id": "element_unset_exclusions",
            "unitPosition": "after",
            "numberPrecision": "0",
            "drilldown": "all",
            "useColors": "1",
            "trendDisplayMode": "absolute",
            "rangeValues": "[0]",
            "colorBy": "value",
            "showTrendIndicator": "1",
            "showSparkline": "1",
            "colorMode": "none",
            "trendColorInterpretation": "standard",
            "underLabel": "Number of threshold configured",
            "useThousandSeparators": "1",
            "rangeColors": "[\"0x3F6FDE\",\"0x3F6FDE\"]",
            "managerid": "search1",
            "el": $('#element_unset_exclusions')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_unset_exclusions.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                var url = TokenUtils.replaceTokenNames("{{SPLUNKWEB_URL_PREFIX}}/app/metricator-for-nmon/search?q=| inputlookup nmon_alerting_threshold_filesystem | stats count", _.extend(submittedTokenModel.toJSON(), e.data), TokenUtils.getEscaper('url'), TokenUtils.getFilters(mvc.Components));
                utils.redirect(url);
            }
        });

        var element_table_show_lookup_content = new TableElement({
            "id": "element_table_show_lookup_content",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "row",
            "percentagesRow": "false",
            "rowNumbers": "false",
            "totalsRow": "false",
            "wrap": "true",
            "managerid": "search2",
            "el": $('#element_table_show_lookup_content')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_table_show_lookup_content.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();

                // Populate input form for deletion and addition
                setToken("KeyID", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.KeyID", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));

                // Populate inputs form for modification
                setToken("modify_key", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_mount", TokenUtils.replaceTokenNames("$row.mount$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_alert_fs_max_percent", TokenUtils.replaceTokenNames("$row.alert_fs_max_percent$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("modify_alert_fs_min_time_seconds", TokenUtils.replaceTokenNames("$row.alert_fs_min_time_seconds$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.input_selected_key", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.input_modify_frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.input_modify_serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.input_modify_host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.input_modify_mount", TokenUtils.replaceTokenNames("$row.mount$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.input_modify_alert_fs_max_percent", TokenUtils.replaceTokenNames("$row.alert_fs_max_percent$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.input_modify_alert_fs_min_time_seconds", TokenUtils.replaceTokenNames("$row.alert_fs_min_time_seconds$", _.extend(submittedTokenModel.toJSON(), e.data)));

            }
        });

        var element_table_show_lookup_inventory = new TableElement({
            "id": "element_table_show_lookup_inventory",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "row",
            "format": {"storage used (%)": [{"options": {}, "type": "color"}]},
            "percentagesRow": "false",
            "rowNumbers": "false",
            "totalsRow": "false",
            "wrap": "true",
            "managerid": "search4",
            "el": $('#element_table_show_lookup_inventory')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_table_show_lookup_inventory.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                // Populate input form for addition
                setToken("frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("mount", TokenUtils.replaceTokenNames("$row.mount$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.frameID", TokenUtils.replaceTokenNames("$row.frameID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.serialnum", TokenUtils.replaceTokenNames("$row.serialnum$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.host", TokenUtils.replaceTokenNames("$row.host$", _.extend(submittedTokenModel.toJSON(), e.data)));
                setToken("form.mount", TokenUtils.replaceTokenNames("$row.mount$", _.extend(submittedTokenModel.toJSON(), e.data)));
            }
        });

        var element_nb_hosts = new SingleElement({
            "id": "element_nb_hosts",
            "unitPosition": "after",
            "numberPrecision": "0",
            "drilldown": "all",
            "useColors": "1",
            "trendDisplayMode": "absolute",
            "rangeValues": "[0]",
            "colorBy": "value",
            "showTrendIndicator": "1",
            "showSparkline": "1",
            "colorMode": "none",
            "trendColorInterpretation": "standard",
            "underLabel": "Number of servers with threshold configured",
            "useThousandSeparators": "1",
            "rangeColors": "[\"0x3F6FDE\",\"0x3F6FDE\"]",
            "managerid": "search3",
            "el": $('#element_nb_hosts')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_nb_hosts.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                var url = TokenUtils.replaceTokenNames("{{SPLUNKWEB_URL_PREFIX}}/app/metricator-for-nmon/search?q=| inputlookup nmon_alerting_threshold_filesystem | stats dc(host) as dcount", _.extend(submittedTokenModel.toJSON(), e.data), TokenUtils.getEscaper('url'), TokenUtils.getFilters(mvc.Components));
                utils.redirect(url);
            }
        });

        var element_nb_mount = new SingleElement({
            "id": "element_nb_mount",
            "unitPosition": "after",
            "numberPrecision": "0",
            "drilldown": "all",
            "useColors": "1",
            "trendDisplayMode": "absolute",
            "rangeValues": "[0]",
            "colorBy": "value",
            "showTrendIndicator": "1",
            "showSparkline": "1",
            "colorMode": "none",
            "trendColorInterpretation": "standard",
            "underLabel": "Number of distinct mount points with threshold configured",
            "useThousandSeparators": "1",
            "rangeColors": "[\"0x3F6FDE\",\"0x3F6FDE\"]",
            "managerid": "search5",
            "el": $('#element_nb_mount')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_nb_mount.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                var url = TokenUtils.replaceTokenNames("{{SPLUNKWEB_URL_PREFIX}}/app/metricator-for-nmon/search?q=| inputlookup nmon_alerting_filesystem_per_server_exclusion | where exclude=\"true\" | stats dc(mount) as dcount", _.extend(submittedTokenModel.toJSON(), e.data), TokenUtils.getEscaper('url'), TokenUtils.getFilters(mvc.Components));
                utils.redirect(url);
            }
        });

        //
        // VIEWS: FORM INPUTS
        //

        // inventory searches

        var input_inventory_search_frameid = new TextInput({
            "id": "input_inventory_search_frameid",
            "value": "$form.inventory_search_frameID$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_inventory_search_frameid')
        }, {tokens: true}).render();

        input_inventory_search_frameid.on("change", function(newValue) {
            FormUtils.handleValueChange(input_inventory_search_frameid);
        });

        var input_inventory_search_serialnum = new TextInput({
            "id": "input_inventory_search_serialnum",
            "value": "$form.inventory_search_serialnum$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_inventory_search_serialnum')
        }, {tokens: true}).render();

        input_inventory_search_serialnum.on("change", function(newValue) {
            FormUtils.handleValueChange(input_inventory_search_serialnum);
        });

        var input_inventory_search_host = new TextInput({
            "id": "input_inventory_search_host",
            "value": "$form.inventory_search_host$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_inventory_search_host')
        }, {tokens: true}).render();

        input_inventory_search_host.on("change", function(newValue) {
            FormUtils.handleValueChange(input_inventory_search_host);
        });

        var input_inventory_search_mount = new TextInput({
            "id": "input_inventory_search_mount",
            "value": "$form.inventory_search_mount$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_inventory_search_mount')
        }, {tokens: true}).render();

        input_inventory_search_mount.on("change", function(newValue) {
            FormUtils.handleValueChange(input_inventory_search_mount);
        });

        var input_inventory_search_filesystem = new TextInput({
            "id": "input_inventory_search_filesystem",
            "value": "$form.inventory_search_filesystem$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_inventory_search_filesystem')
        }, {tokens: true}).render();

        input_inventory_search_filesystem.on("change", function(newValue) {
            FormUtils.handleValueChange(input_inventory_search_filesystem);
        });

        // For additions

        var input_add_frameid = new TextInput({
            "id": "input_add_frameid",
            "value": "$form.frameID$",
            "el": $('#input_add_frameid')
        }, {tokens: true}).render();

        input_add_frameid.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_frameid);
        });

        var input_add_serialnum = new TextInput({
            "id": "input_add_serialnum",
            "value": "$form.serialnum$",
            "el": $('#input_add_serialnum')
        }, {tokens: true}).render();

        input_add_serialnum.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_serialnum);
        });

        var input_add_host = new TextInput({
            "id": "input_add_host",
            "value": "$form.host$",
            "el": $('#input_add_host')
        }, {tokens: true}).render();

        input_add_host.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_host);
        });

        var input_add_mount = new TextInput({
            "id": "input_add_mount",
            "value": "$form.mount$",
            "el": $('#input_add_mount')
        }, {tokens: true}).render();

        input_add_mount.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_mount);
        });

        var input_add_alert_fs_max_percent = new TextInput({
            "id": "input_add_alert_fs_max_percent",
            "value": "$form.input_add_alert_fs_max_percent$",
            "default": "90",
            "el": $('#input_add_alert_fs_max_percent')
        }, {tokens: true}).render();

        input_add_alert_fs_max_percent.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_alert_fs_max_percent);
        });

        var input_add_alert_fs_min_time_seconds = new TextInput({
            "id": "input_add_alert_fs_min_time_seconds",
            "value": "$form.input_add_alert_fs_min_time_seconds$",
            "default": "300",
            "el": $('#input_add_alert_fs_min_time_seconds')
        }, {tokens: true}).render();

        input_add_alert_fs_min_time_seconds.on("change", function(newValue) {
            FormUtils.handleValueChange(input_add_alert_fs_min_time_seconds);
        });

        var input_selected_key = new TextInput({
            "id": "input_selected_key",
            "value": "$form.KeyID$",
            "el": $('#input_selected_key')
        }, {tokens: true}).render();

        input_selected_key.on("change", function(newValue) {
            FormUtils.handleValueChange(input_selected_key);
        });

        var input_search_keyid = new TextInput({
            "id": "input_search_keyid",
            "value": "$form.search_keyID$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_keyid')
        }, {tokens: true}).render();

        input_search_keyid.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_keyid);
        });

        var input_search_frameid = new TextInput({
            "id": "input_search_frameid",
            "value": "$form.search_frameID$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_frameid')
        }, {tokens: true}).render();

        input_search_frameid.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_frameid);
        });

        var input_search_serialnum = new TextInput({
            "id": "input_search_serialnum",
            "value": "$form.search_serialnum$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_serialnum')
        }, {tokens: true}).render();

        input_search_serialnum.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_serialnum);
        });

        var input_search_host = new TextInput({
            "id": "input_search_host",
            "value": "$form.search_host$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_host')
        }, {tokens: true}).render();

        input_search_host.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_host);
        });

        var input_search_mount = new TextInput({
            "id": "input_search_mount",
            "value": "$form.search_mount$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_mount')
        }, {tokens: true}).render();

        input_search_mount.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_mount);
        });

        var input_modify_frameID = new TextInput({
            "id": "input_modify_frameID",
            "value": "$form.input_modify_frameID$",
            "el": $('#input_modify_frameID')
        }, {tokens: true}).render();

        input_modify_frameID.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_frameID);
        });

        var input_modify_serialnum = new TextInput({
            "id": "input_modify_serialnum",
            "value": "$form.input_modify_serialnum$",
            "el": $('#input_modify_serialnum')
        }, {tokens: true}).render();

        input_modify_serialnum.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_serialnum);
        });

        var input_modify_host = new TextInput({
            "id": "input_modify_host",
            "value": "$form.input_modify_host$",
            "el": $('#input_modify_host')
        }, {tokens: true}).render();

        input_modify_host.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_host);
        });

        var input_modify_mount = new TextInput({
            "id": "input_modify_mount",
            "value": "$form.input_modify_mount$",
            "el": $('#input_modify_mount')
        }, {tokens: true}).render();

        input_modify_mount.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_mount);
        });

        var input_modify_alert_fs_max_percent = new TextInput({
            "id": "input_modify_alert_fs_max_percent",
            "value": "$form.input_modify_alert_fs_max_percent$",
            "el": $('#input_modify_alert_fs_max_percent')
        }, {tokens: true}).render();

        input_modify_alert_fs_max_percent.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_alert_fs_max_percent);
        });

        var input_modify_alert_fs_min_time_seconds = new TextInput({
            "id": "input_modify_alert_fs_min_time_seconds",
            "value": "$form.input_modify_alert_fs_min_time_seconds$",
            "el": $('#input_modify_alert_fs_min_time_seconds')
        }, {tokens: true}).render();

        input_modify_alert_fs_min_time_seconds.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_alert_fs_min_time_seconds);
        });

        DashboardController.onReady(function() {
            if (!submittedTokenModel.has('earliest') && !submittedTokenModel.has('latest')) {
                submittedTokenModel.set({ earliest: '0', latest: '' });
            }
        });

        //
        // SERVICE OBJECT
        //

        // Create a service object using the Splunk SDK for JavaScript
        // to send REST requests
        var service = mvc.createService({ owner: "nobody" });


        //
        // DELETE BUTTON
        //

        // Call this function when the Delete Record button is clicked
        $("#btn_remove_content").click(function() {
            var tokens = mvc.Components.get("default");
            var form_keyid = tokens.get("KeyID");

            if (!form_keyid || !form_keyid.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the KeyID value is empty ! Please first click on any entry in the table</h3>");
            }
            else
            {

                bootbox.confirm("<h3 style=\"color: indianred;\">Confirm deletion?</h3>", function(result){

                    if (result) {

                    // Delete the record that corresponds to the key ID using
                    // the del method to send a DELETE request
                    // to the storage/collections/data/{collection}/ endpoint
                    service.del("storage/collections/data/kv_nmon_alerting_threshold_filesystem/" + encodeURIComponent(form_keyid))
                        .done(function() {
                            // Run the search again to update the table
                            search1.startSearch();
                            search2.startSearch();
                            search3.startSearch();
                            search4.startSearch();
                            search5.startSearch();

                            // clear the forms

                            // keyID
                            $("#input_selected_key input[type=text]").val("");

                            // modifications
                            // $("#input_modify_frameID input[type=text]").val("");
                            // $("#input_modify_serialnum input[type=text]").val("");
                            // $("#input_modify_host input[type=text]").val("");

                        });

                    }

                });

            }

        });

        //
        // SUBMIT FORM DATA
        //

        $("#btn_add_content").click(function() {
            submitTokens();

            // When the Submit button is clicked, get all the form fields by accessing token values
            var tokens = mvc.Components.get("default");
            var form_frameID = tokens.get("frameID");
            var form_serialnum = tokens.get("serialnum");
            var form_host = tokens.get("host");
            var form_mount = tokens.get("mount");
            var form_input_add_alert_fs_max_percent = tokens.get("input_add_alert_fs_max_percent");
            var form_input_add_alert_fs_min_time_seconds = tokens.get("input_add_alert_fs_min_time_seconds");

            // Create a dictionary to store the field names and values
            var record = {
                "frameID": form_frameID,
                "serialnum": form_serialnum,
                "host": form_host,
                "mount": form_mount,
                "alert_fs_max_percent": form_input_add_alert_fs_max_percent,
                "alert_fs_min_time_seconds": form_input_add_alert_fs_min_time_seconds
            };

            if (!form_frameID || !form_frameID.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the frameID value is empty !</h3>");
            }

            else if (!form_serialnum || !form_serialnum.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the serialnum value is empty !</h3>");
            }

            else if (!form_host || !form_host.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the host value is empty !</h3>");
            }

            else if (!form_mount || !form_mount.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the mount point value is empty !</h3>");
            }

            else if ( !form_input_add_alert_fs_max_percent || !form_input_add_alert_fs_max_percent.length || !isPercent(form_input_add_alert_fs_max_percent) ) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the alert_fs_max_percent value is empty or invalid! <br /><br /> Value must be float or integer between 0 and 100</h3>");
            }

            else if ( !form_input_add_alert_fs_min_time_seconds || !form_input_add_alert_fs_min_time_seconds.length || !isNumeric(form_input_add_alert_fs_min_time_seconds) ) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the alert_fs_min_time_seconds value is empty or invalid! <br /><br /> Value must be float or integer higher than 0</h3>");
            }

            else
            {

                bootbox.confirm("<h3 style=\"color: indianred;\">Confirm addition?</h3>", function(result){

                    if (result) {

                        // Get the value of the key ID field

                        // to the storage/collections/data/{collection}/ endpoint
                        // Use the request method to send a REST POST request
                        // to the storage/collections/data/{collection}/ endpoint
                        service.request(
                            "storage/collections/data/kv_nmon_alerting_threshold_filesystem/",
                            "POST",
                            null,
                            null,
                            JSON.stringify(record),
                            {"Content-Type": "application/json"},
                            null)
                                .done(function() {
                                     // Run the search again to update the table
                                    search1.startSearch();
                                    search2.startSearch();
                                    search3.startSearch();
                                    search4.startSearch();
                                    search5.startSearch();

                                    // keyID
                                    $("#input_selected_key input[type=text]").val("");

                                    // modifications
                                    // $("#input_modify_frameID input[type=text]").val("");
                                    // $("#input_modify_serialnum input[type=text]").val("");
                                    // $("#input_modify_host input[type=text]").val("");

                                    // addition
                                    // $("#input_add_frameid input[type=text]").val("");
                                    // $("#input_add_serialnum input[type=text]").val("");
                                    // $("#input_add_host input[type=text]").val("");

                                });

                    }

                });

            }

        });

        //
        // MODIFY BUTTON
        //

        $("#btn_modify_content").click(function() {
            submitTokens();

            // When the Submit button is clicked, get all the form fields by accessing token values
            var tokens = mvc.Components.get("default");
            var modify_key = tokens.get("KeyID");
            var modify_frameID = tokens.get("input_modify_frameID");
            var modify_serialnum = tokens.get("input_modify_serialnum");
            var modify_host = tokens.get("input_modify_host");
            var modify_mount = tokens.get("input_modify_mount");
            var form_input_modify_alert_fs_max_percent = tokens.get("input_modify_alert_fs_max_percent");
            var form_input_modify_alert_fs_min_time_seconds = tokens.get("input_modify_alert_fs_min_time_seconds");

            // Create the endpoint URL
            var myendpoint_URl = "storage/collections/data/kv_nmon_alerting_threshold_filesystem/" + modify_key;

            // Create a dictionary to store the field names and values
            var record = {
                "frameID": modify_frameID,
                "serialnum": modify_serialnum,
                "host": modify_host,
                "mount": modify_mount,
                "alert_fs_max_percent": form_input_modify_alert_fs_max_percent,
                "alert_fs_min_time_seconds": form_input_modify_alert_fs_min_time_seconds
            };

            if (!modify_key || !modify_key.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the KeyID value is empty !</h3>");
            }

            else if (!modify_frameID || !modify_frameID.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the frameID value is empty !</h3>");
            }

            else if (!modify_serialnum || !modify_serialnum.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the serialnum value is empty !</h3>");
            }

            else if (!modify_host || !modify_host.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the host value is empty !</h3>");
            }

            else if (!modify_mount || !modify_mount.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the mount point value is empty !</h3>");
            }

            else if ( !form_input_modify_alert_fs_max_percent || !form_input_modify_alert_fs_max_percent.length || !isPercent(form_input_modify_alert_fs_max_percent) ) {
                // Show an error message
               bootbox.alert("<h3 style=\"color: indianred;\">Error: the alert_fs_max_percent value is empty or invalid! <br /><br /> Value must be float or integer higher than 0</h3>");
            }

            else if ( !form_input_modify_alert_fs_min_time_seconds || !form_input_modify_alert_fs_min_time_seconds.length || !isNumeric(form_input_modify_alert_fs_min_time_seconds) ) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the alert_fs_min_time_seconds value is empty or invalid! <br /><br /> Value must be float or integer between 0 and 100</h3>");
            }

            else
            {

                bootbox.confirm("<h3 style=\"color: indianred;\">Confirm modification?</h3>", function(result){

                    if (result) {

                        // Get the value of the key ID field

                    // Use the request method to send a REST POST request
                    // to the storage/collections/data/{collection}/entry_key endpoint
                    service.request(
                        myendpoint_URl,
                        "POST",
                        null,
                        null,
                        JSON.stringify(record),
                        {"Content-Type": "application/json"},
                        null)
                            .done(function() {
                                 // Run the search again to update the table
                                search1.startSearch();
                                search2.startSearch();
                                search3.startSearch();
                                search4.startSearch();
                                search5.startSearch();

                                // clear the forms
                                $("#input_selected_key input[type=text]").val("");

                                // modifications
                                // $("#input_modify_frameID input[type=text]").val("");
                                // $("#input_modify_serialnum input[type=text]").val("");
                                // $("#input_modify_host input[type=text]").val("");

                                // addition
                                // $("#input_add_frameid input[type=text]").val("");
                                // $("#input_add_serialnum input[type=text]").val("");
                                // $("#input_add_host input[type=text]").val("");

                            });

                    }

                });

            }

        });

        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
        }


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/dashboard.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/alerting_filesystem_threshold.js" type="text/javascript"></script>
</body>
</html>
