<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Configuration of the global file system exclusion</title>
    <link rel="shortcut icon" href="/en-US/static/@9DEE210D3C0EC367AC37995A355F1389DE0F4C59CE83FF3C7722ABCD83B3FFE0/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/build/css/bootstrap-enterprise.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/ui_simple.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/panel_decoration.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/hover.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/hide_footer.css" />
</head>
<body class="simplexml preload locale-en" data-splunk-version="7.0.1" data-splunk-product="enterprise">
<!--
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system.
-->
<header>
    <a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
    <div class="header splunk-header">
            <div id="placeholder-splunk-bar">
                <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
            </div>
                <div id="placeholder-app-bar"></div>
    </div>
    <a id="navSkip"></a>
</header>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Configuration and management of global file system exclusion</h2>
        <p>Use this interface to automatically exclude specific file systems for all server usage alerting</p>
    </div>

    <div id="row_single_info" class="dashboard-row dashboard-row1">
        <div id="panel_single_info">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title"></h2>

                <div class="panel-element-row">
                    <div id="element_unset_exclusions" class="dashboard-element single" style="width: 50%">
                        <div class="panel-body"></div>
                    </div>
                    <div id="element_nb_mount" class="dashboard-element single" style="width: 50%">
                        <div class="panel-body"></div>
                    </div>
                </div>

                <div class="panel-element-row">

                    <div id="element2" class="dashboard-element html" style="width: 100%">
                        <div class="panel-body html">
                            <div class="customlink">
                                <br /><br />
                                <img src="../../static/app/metricator-for-nmon/icons/grey_theme/link.png" alt="link">
                                <h3>
                                    <a data-toggle="modal" data-target="#Help_modal">Help and information</a>
                                </h3>
                                <br /><br />
                            </div>

                            <!-- Modal -->
                            <div class="modal custom-modal-60 fade" id="Help_modal" tabindex="-1" role="dialog" aria-labelledby="Help_modal_Label">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>

                                            <div style="text-align: left;">
                                                <h4 class="modal-title" id="Help_modal_Label">Integrated Navigation:</h4>
                                            </div>
                                        </div>

                                        <div class="modal-body">

                                            <div style="text-align: center;">
                                                <h1>ALERTING FILE-SYSTEM GLOBAL EXCLUSION</h1>
                                            </div>

                                            <div>

                                                <h3>The alerting file-system global exclusion management interface allows you to configure Nmon alerting features for:</h3>
                                                <lu>
                                                    <li>global exclusion of file-systems from alerting</li>
                                                </lu>
                                                <br />

                                                <div class="list">
                                                    <h4>file-systems exclusion:</h4>
                                                    <br />
                                                    <lu>
                                                        <li>mount: mount point of the Unix file-system</li>
                                                        <li>exclude: (true/false) explicit exclusion (default)</li>
                                                    </lu>
                                                </div>

                                                <br />
                                                <br />

                                                <h3>Global entries will be applied<span style="color: indianred"> for all servers.</span></h3>

                                                <h3>You can use <span style="color: indianred">wildcards to match multiple file-systems at once, and case is insensitive</span>.</h3>

                                                <br />
                                                <h3>Lookup access:</h3>

                                                <pre>| inputlookup nmon_alerting_filesystem_global_exclusion</pre>

                                                <br>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="row_show_lookup_content" class="dashboard-row dashboard-row_show_lookup_content">
        <div id="panel_togglepanel_show_lookup_content" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Exclusion table - currently configured exclusions</h2>

                <div class="panel-element-row">
                    <div id="element_table_show_lookup_content" class="dashboard-element table" style="width: 100%">

                        <div class="fieldset">
                            <h3 style="color: indianred;">The exclusion table shows exclusions currently configured. To search for an entry, fill the filters and press enter. To pre-fill for addition, modification and deletion, click on any row of the table</h3>
                            <h3 style="color: indianred;">You can add a new exclusion entry, mount point is <b>case insensitive and accepts wildcards</b> to match multiple mount points at once
                            <br /><br />
                            <b>CAUTION:</b> any global exclusion will be applied to all servers!</h3>
                            <div>
                                <hr>
                                <p style="color: gray;"><i>Search for existing exclusions:</i></p>
                            </div>
                            <div class="input input-text" id="input_search_mount">
                                <label>Search mount point:</label>
                            </div>
                            <div>
                                <hr>
                                <p style="color: gray;"><i>Add, remove or modify exclusions:</i></p>
                            </div>
                            <div style="text-align: right; margin-bottom: 15px;">
                                <div class="form-submit" id="btn_add_content">
                                    <button class="btn btn-primary submit">Add a new file-system exclusion</button>
                                    <br /><br />
                                </div>
                            </div>
                            <div style="text-align: right; margin-bottom: 15px;">
                                <div class="input input-text" id="input_selected_key">
                                    <label>Click on any row to fill the Key ID:</label>
                                </div>
                                <div class="form-submit" id="btn_remove_content">
                                    <button class="btn btn-primary submit">Delete the selected entry</button>
                                </div>
                            </div>
                            <div style="text-align: right; margin-bottom: 15px;">
                                <div class="input input-text" id="input_modify_mount">
                                    <label>Enter the mount point:</label>
                                </div>
                                <div class="form-submit" id="btn_modify_content">
                                    <button class="btn btn-primary submit">Modify the selected entry</button>
                                </div>
                            </div>
                            <div>
                                <hr>
                                <p style="color: gray;"><i>Exclusions currently configured:</i></p>
                            </div>
                        </div>

                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/build/simplexml/index.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/togglepanel.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/bootbox.min.js" type="text/javascript"></script>
<script type="text/javascript">
// <![CDATA[
// <![CDATA[
//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
//
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/layoutview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        LayoutView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example:
        // ...UrlTokenModel,
        // TokenForwarder
        ) {

        var pageLoading = true;


        //
        // TOKENS
        //

        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }



        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "earliest_time": "-24h",
            "sample_ratio": 1,
            "status_buckets": 0,
            "cancelOnUnload": true,
            "latest_time": "now",
            "search": "| inputlookup nmon_alerting_filesystem_global_exclusion | where exclude=\"true\" | stats count",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search2 = new SearchManager({
            "id": "search2",
            "earliest_time": "0",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| inputlookup nmon_alerting_filesystem_global_exclusion | search _key=$search_keyID$ mount=$search_mount$ | eval KeyID = _key | table KeyID,mount,exclude",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "earliest_time": "-7d",
            "status_buckets": 0,
            "sample_ratio": 1,
            "latest_time": "now",
            "cancelOnUnload": true,
            "search": "| inputlookup nmon_alerting_filesystem_global_exclusion | where exclude=\"true\" | stats dc(mount) as dcount",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

            //
        // SPLUNK LAYOUT
        //

        $('header').remove();
        new LayoutView({"hideChrome": false, "hideAppBar": false, "hideSplunkBar": false, "hideFooter": false})
            .render()
            .getContainerElement()
            .appendChild($('.dashboard-body')[0]);

        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element_unset_exclusions = new SingleElement({
            "id": "element_unset_exclusions",
            "unitPosition": "after",
            "numberPrecision": "0",
            "drilldown": "all",
            "useColors": "1",
            "trendDisplayMode": "absolute",
            "rangeValues": "[0]",
            "colorBy": "value",
            "showTrendIndicator": "1",
            "showSparkline": "1",
            "colorMode": "none",
            "trendColorInterpretation": "standard",
            "underLabel": "Number of file systems exclusion configured",
            "useThousandSeparators": "1",
            "rangeColors": "[\"0x3F6FDE\",\"0x3F6FDE\"]",
            "managerid": "search1",
            "el": $('#element_unset_exclusions')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_unset_exclusions.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                var url = TokenUtils.replaceTokenNames("{{SPLUNKWEB_URL_PREFIX}}/app/metricator-for-nmon/search?q=| inputlookup kv_nmon_alerting_filesystem_global_exclusion | where exclude=\"true\" | stats count", _.extend(submittedTokenModel.toJSON(), e.data), TokenUtils.getEscaper('url'), TokenUtils.getFilters(mvc.Components));
                utils.redirect(url);
            }
        });

        var element_table_show_lookup_content = new TableElement({
            "id": "element_table_show_lookup_content",
            "count": 5,
            "dataOverlayMode": "none",
            "drilldown": "row",
            "percentagesRow": "false",
            "rowNumbers": "false",
            "totalsRow": "false",
            "wrap": "true",
            "managerid": "search2",
            "el": $('#element_table_show_lookup_content')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_table_show_lookup_content.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                // Populate input form for deletion and addition
                setToken("form.KeyID", TokenUtils.replaceTokenNames("$row.KeyID$", _.extend(submittedTokenModel.toJSON(), e.data)));
                // Populate inputs form for modification
                setToken("form.input_modify_mount", TokenUtils.replaceTokenNames("$row.mount$", _.extend(submittedTokenModel.toJSON(), e.data)));
            }
        });

        var element_nb_mount = new SingleElement({
            "id": "element_nb_mount",
            "unitPosition": "after",
            "numberPrecision": "0",
            "drilldown": "all",
            "useColors": "1",
            "trendDisplayMode": "absolute",
            "rangeValues": "[0]",
            "colorBy": "value",
            "showTrendIndicator": "1",
            "showSparkline": "1",
            "colorMode": "none",
            "trendColorInterpretation": "standard",
            "underLabel": "Number of distinct mount points excluded",
            "useThousandSeparators": "1",
            "rangeColors": "[\"0x3F6FDE\",\"0x3F6FDE\"]",
            "managerid": "search3",
            "el": $('#element_nb_mount')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        element_nb_mount.on("click", function(e) {
            if (e.field !== undefined) {
                e.preventDefault();
                var url = TokenUtils.replaceTokenNames("{{SPLUNKWEB_URL_PREFIX}}/app/metricator-for-nmon/search?q=| inputlookup nmon_alerting_filesystem_per_server_exclusion | where exclude=\"true\" | stats dc(mount) as dcount", _.extend(submittedTokenModel.toJSON(), e.data), TokenUtils.getEscaper('url'), TokenUtils.getFilters(mvc.Components));
                utils.redirect(url);
            }
        });

        //
        // VIEWS: FORM INPUTS
        //

        // inventory searches

        var input_inventory_search_mount = new TextInput({
            "id": "input_inventory_search_mount",
            "value": "$form.inventory_search_mount$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_inventory_search_mount')
        }, {tokens: true}).render();

        input_inventory_search_mount.on("change", function(newValue) {
            FormUtils.handleValueChange(input_inventory_search_mount);
        });

        //

        var input_selected_key = new TextInput({
            "id": "input_selected_key",
            "value": "$form.KeyID$",
            "el": $('#input_selected_key')
        }, {tokens: true}).render();

        input_selected_key.on("change", function(newValue) {
            FormUtils.handleValueChange(input_selected_key);
        });

        var input_search_keyid = new TextInput({
            "id": "input_search_keyid",
            "value": "$form.search_keyID$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_keyid')
        }, {tokens: true}).render();

        input_search_keyid.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_keyid);
        });

        var input_search_mount = new TextInput({
            "id": "input_search_mount",
            "value": "$form.search_mount$",
            "default": "*",
            "searchWhenChanged": true,
            "el": $('#input_search_mount')
        }, {tokens: true}).render();

        input_search_mount.on("change", function(newValue) {
            FormUtils.handleValueChange(input_search_mount);
        });

        var input_modify_mount = new TextInput({
            "id": "input_modify_mount",
            "value": "$form.input_modify_mount$",
            "el": $('#input_modify_mount')
        }, {tokens: true}).render();

        input_modify_mount.on("change", function(newValue) {
            FormUtils.handleValueChange(input_modify_mount);
        });

        DashboardController.onReady(function() {
            if (!submittedTokenModel.has('earliest') && !submittedTokenModel.has('latest')) {
                submittedTokenModel.set({ earliest: '0', latest: '' });
            }
        });

        //
        // SERVICE OBJECT
        //

        // Create a service object using the Splunk SDK for JavaScript
        // to send REST requests
        var service = mvc.createService({ owner: "nobody" });


        //
        // DELETE BUTTON
        //

        // Call this function when the Delete Record button is clicked
        $("#btn_remove_content").click(function() {
            var tokens = mvc.Components.get("default");
            var form_keyid = tokens.get("KeyID");

            if (!form_keyid || !form_keyid.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the KeyID value is empty ! Please first click on any entry in the table</h3>");
            }
            else
            {

            bootbox.confirm("<h3 style=\"color: indianred;\">Confirm deletion?</h3>", function(result){

                if (result) {

                    // Get the value of the key ID field

                    // Delete the record that corresponds to the key ID using
                    // the del method to send a DELETE request
                    // to the storage/collections/data/{collection}/ endpoint
                    service.del("storage/collections/data/kv_nmon_alerting_filesystem_global_exclusion/" + encodeURIComponent(form_keyid))
                        .done(function() {
                            // Run the search again to update the table
                            search1.startSearch();
                            search2.startSearch();
                            search3.startSearch();

                            // clear the form
                            $("#input_selected_key input[type=text]").val("");
                            $("#input_modify_mount input[type=text]").val("");

                        });

                }

            });

            }

        });

        //
        // SUBMIT FORM DATA
        //

        $("#btn_add_content").click(function() {
            submitTokens();

            // When the Submit button is clicked, open prompt
            bootbox.prompt("Please enter the new mount point to be excluded: <br /><br /><i style=\"color: indianred;\">You can use wildcards to match multiple file-systems at once, and case is insensitive</i>", function(result){

              if (result) {

                // When the Submit button is clicked, get all the form fields by accessing token values
                var tokens = mvc.Components.get("default");

                // Create a dictionary to store the field names and values
                var record = {
                    "mount": result,
                    "exclude": "true"
                }

                // Use the request method to send a REST POST request
                // to the storage/collections/data/{collection}/ endpoint
                service.request(
                    "storage/collections/data/kv_nmon_alerting_filesystem_global_exclusion/",
                    "POST",
                    null,
                    null,
                    JSON.stringify(record),
                    {"Content-Type": "application/json"},
                    null)
                        .done(function() {
                             // Run the search again to update the table
                            search1.startSearch();
                            search2.startSearch();
                            search3.startSearch();

                            // clear the form
                            $("#input_selected_key input[type=text]").val("");
                            $("#input_modify_mount input[type=text]").val("");
                        });
              }

              else {
                bootbox.alert("<h3 style=\"color: indianred;\">Error: Your entry is invalid or empty !</h3>");
              }

             })

        });

        //
        // MODIFY BUTTON
        //

        $("#btn_modify_content").click(function() {
            submitTokens();

            // When the Submit button is clicked, get all the form fields by accessing token values
            var tokens = mvc.Components.get("default");
            var modify_key = tokens.get("KeyID");
            var modify_mount = tokens.get("input_modify_mount");

            // Create the endpoint URL
            var myendpoint_URl = "storage/collections/data/kv_nmon_alerting_filesystem_global_exclusion/" + modify_key;

            // Create a dictionary to store the field names and values
            var record = {
                "mount": modify_mount,
                "exclude": "true"
            };

            if (!modify_key || !modify_key.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: the KeyID value is empty ! Please first click on any entry in the table</h3>");
            }

            else if (!modify_mount || !modify_mount.length) {
                // Show an error message
                bootbox.alert("<h3 style=\"color: indianred;\">Error: The mount point value is empty ! Please enter the new value for this entry</h3>");
            }

            else
            {

                bootbox.confirm("<h3 style=\"color: indianred;\">Confirm modification?</h3>", function(result){

                    if (result) {

                    // Use the request method to send a REST POST request
                    // to the storage/collections/data/{collection}/entry_key endpoint
                    service.request(
                        myendpoint_URl,
                        "POST",
                        null,
                        null,
                        JSON.stringify(record),
                        {"Content-Type": "application/json"},
                        null)
                            .done(function() {
                                 // Run the search again to update the table
                                search1.startSearch();
                                search2.startSearch();
                                search3.startSearch();

                                // Clear the form fields
                                $("#input_selected_key input[type=text]").val("");
                                $("#input_modify_mount input[type=text]").val("");
                            });

                    }

                });

            }

        });

        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
        }


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/metricator-for-nmon/dashboard.js" type="text/javascript"></script>
</body>
</html>
